[submodule "java-io"]
	path = java-io
	url = https://github.com/WeisonWei/java-io.git
[submodule "java-8"]
	path = java-8
	url = https://github.com/WeisonWei/java-8.git
[submodule "java-thread"]
	path = java-thread
	url = https://github.com/WeisonWei/java-thread.git
