[submodule "java-io"]
	path = java-io
	url = https://github.com/WeisonWei/java-io.git
[submodule "java-8"]
	path = java-8
	url = https://github.com/WeisonWei/java-8.git
[submodule "java-thread"]
	path = java-thread
	url = https://github.com/WeisonWei/java-thread.git
[submodule "java-base"]
	path = java-base
	url = https://github.com/WeisonWei/java-base.git
[submodule "java-design-pattern"]
	path = java-design-pattern
	url = https://github.com/WeisonWei/java-design-pattern.git
